﻿@page
@using Acme.BookStore.Web.Pages.Authors
@using Acme.BookStore.Localization
@using Acme.BookStore.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<BookStoreResource> L
@inject IAuthorizationService AuthorizationService
@model IndexModel
@section scripts
{
    <abp-script src="/Pages/Authors/Index.js"/>
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Authors"]</abp-card-title>
            </abp-column>
            <abp-column size-md= "_6">
                @if(await AuthorizationService.IsGrantedAsync(BookStorePermissions.Authors.Create))
                {
                    <abp-button id="NewAuthorButton"
                                text="@L["NewAuthor"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-car-body>
        <abp-table striped-rows="true" id="AuthorsTable"></abp-table>
    </abp-car-body>
</abp-card>
